:root {
  font-family: sans-serif;
  font-size: 18px;
  --background-yellow: rgba(275, 275, 205);
  --header-background: rgba(275, 275, 205, 0.9);
  --para-background: rgba(275, 275, 275, 0.7);
  box-sizing: border-box;
}

body {
  background-color: var(--background-yellow);
}

/* container */
div.container {
  width: 25%;
  height: 50vh;
  margin: 100px auto;
  padding: 2rem;
  background: url("img/pug-life.jpg") no-repeat center/cover;
}
/* heading */
h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  background-color: var(--header-background);
  border-radius: 10px;
  padding: 5px;
}
/* paragraph */
p {
  background-color: var(--para-background);
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 25px;
  font-weight: bold;
    /* giving sliding effect on text */
  transform: translateX(-45px);
  visibility: hidden;
  opacity: 0;
}
/* sliding effect for each paragraph (transition) */
p#para1 {
  transition: all 0.1s;
}
p#para2 {
  transition: all 0.2s ease 0.1s;
}
p#para3 {
  transition: all 0.3s ease-in 0.2s;
}
/* hover */
div.container:hover p#para1,
div.container:hover p#para2,
div.container:hover p#para3 {
  visibility: visible;
  opacity: 1;
  transform: translateX(5px);
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 0.7rem;
  }
  p {
    font-size: 0.7rem;
    padding: 0.5em;
  }
}
